.square {
	width: 200px;
	height: 250px;
	border: solid 2px #202020;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8px;
	gap: 4px;
	background-color: #333533;
}

.text {
	font-size: 12px;
	font-weight: 300;
}

.social {
	display: flex;
	margin-top: 8px;
}

.icons {
	width: 24px;
	height: 24px;
	cursor: pointer;
	border: solid 1px #202020;
	border-radius: 50%;
	padding: 3px;
}
