.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.imgContainer {
	flex: 1;
	height: 500px;
	position: relative;
}

.image {
	object-fit: contain;
	animation: move 3s infinite ease alternate;
}

.handler {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 10px;
	position: relative;
	z-index: 5;
}

.handle {
	font-size: 20px;
	font-weight: bolder;
	color: #bbb;
	position: relative;
}

.label {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.line {
	position: absolute;
	width: 1px;
	height: 60%;
	background-image: linear-gradient(
		to bottom,
		#495057,
		#495057 50%,
		transparent 20%
	);
}

.icon {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 999px;
	background-color: #111;
	border: 2px solid #495057;
}

.icon:hover {
	border: 2px solid white;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px) scale(1.03);
	}
}

.title {
	font-size: 60px;
	margin-bottom: 100px;
	text-align: center;
}

.form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input,
.textArea {
	padding: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #bbb;
	border: 3px solid #bbb;
	font-size: 20px;
	font-weight: bold;
}

@media (max-width: 760px) {
	.content {
		flex-direction: column;
		gap: 10px;
	}
	.imgContainer {
		height: 300px;
	}
	.image {
		width: 200px;
		height: 200px;
	}
	.title {
		font-size: 30px;
		margin-bottom: 50px;
	}
	.form {
		flex: 1;
	}
	.input,
	.textArea {
		padding: 10px;
		font-size: 15px;
	}

	.handle {
		font-size: 15px;
	}
}
