.container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #bbb;
	width: 300px;
	height: 300px;
	border: 2px solid #4a9c3a;
	border-radius: 5px;
	gap: 5px;
}

@media (max-width: 700px) {
	.container {
		width: 200px;
		height: 200px;
		gap: 10px;
		text-wrap: wrap;
	}
}
